#APPWRITE
PROJECT_ID=
API_KEY=
DATABASE_ID=
PATIENT_COLLECTION_ID=
DOCTOR_COLLECTION_ID=
APPOINTMENT_COLLECTION_ID=
MEDICAL_RECORD_COLLECTION_ID=

AUTH_SESSION_SECRET=
ADMIN_EMAIL=admin@careplus.com
ADMIN_PASSWORD=
ADMIN_NAME=CarePlus Admin
DOCTOR_EMAIL=doctor@careplus.local
DOCTOR_PASSWORD=
DOCTOR_NAME=CarePlus Doctor

NEXT_PUBLIC_ENDPOINT=https://cloud.appwrite.io/v1
NEXT_PUBLIC_BUCKET_ID=
NEXT_PUBLIC_ADMIN_PASSKEY=111111
NEXT_PUBLIC_APP_URL=http://localhost:3000
#NEXT_PUBLIC_SENTRY_ENABLED=false
